# Default ignored files
.gitignore
/shelf/
/.idea/workspace.xml
giScript.sh
gitScript.sh
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


